$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{

  float:left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{

  color: #ffff;
  text-decoration: none;
}

.center{

  text-align: center;
  align-items: center;
  justify-content: center;
}

.jumbotron{
  background-image: asset-url('home_land_image.jpg');
  background-size: cover;
  height: 600px;
  align-items: center;
  padding-top: 20%;
}

.jumbotron h1{
  color: #fff;
  text-align: center ;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge{
font-size: 1.7em;
  background-color: black ;
  top: 50%;
  left: 50%;
}


.article-title {

  margin-bottom: 10px;
  margin-top: 10px;
  font-style: italic;


}

.article-body {

  margin-bottom: 10px;
  margin-top: 10px;
  font-style: italic;


}