<div calss="container">
  <nav>

    <div class="center footer">

      <small>Blog contains some the articles that i wrote in the it field</small>

    </div>

    <ul>
      <li><%= link_to "About", root_path %></li>
    </ul>

  </nav>



</div>